// header styles
header {
  @extend .clearfix;
  height: 50px;
  div.logo {
    @extend .pull-left;
    font-size: 18px;
    width: auto;
    height: 50px;
    line-height: 50px;
    color: white;
    padding: 0;
    background-color: transparent;
  }
  ul.navbar {
    @extend .pull-right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    li {
      display: inline-block;
      a {
        border: none;
        height: 40px;
        line-height: 40px;
        display: block;
        padding: 0 10px;
        color: white;
        margin: 0 2px 0 0;
        &:hover {
          background-color: white;
          color: $camelot;
          text-decoration: underline;
        }
      }
      a.active {
        text-decoration: underline;
      }
    }
  }
}
